<!-- Tasks Table -->
<table
    class="min-w-full divide-y divide-gray-200 shadow-md rounded-lg overflow-hidden mt-5">
    <thead class="bg-gray-100 text-gray-700 text-sm uppercase text-left">
        <tr>
            <th class="px-4 py-3">Mark as done</th>
            <th class="px-4 py-3">Title</th>
            <th class="px-4 py-3">Due Date</th>
            <th class="px-4 py-3">Created At</th>
            <th class="px-4 py-3" colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-100 text-sm">
        @for(task of tasks(); track task.id; let i = $index) {
        <tr
            [ngClass]="task.done ? 'bg-green-50 text-gray-500 line-through' : ''">
            <td class="px-4 py-2">
                <input type="checkbox" [checked]="task.done"
                    (change)="markAsDone($event, task)" id="{{i}}"
                    class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded">
            </td>
            <td class="px-4 py-2">{{ task.title }}</td>
            <td class="px-4 py-2">{{ task.dueDate | date: 'mediumDate' }}</td>
            <td class="px-4 py-2">{{ task.createdAt | date: 'medium' }}</td>
            <td class="px-2 py-2">
                <button
                    class="px-3 py-1 border rounded-md text-sm text-gray-700 hover:bg-gray-100 disabled:opacity-50 disabled:cursor-not-allowed"
                    (click)="editTask(task)" [disabled]="task.done">
                    Edit
                </button>
            </td>
            <td class="px-2 py-2">
                <button
                    class="px-3 py-1 border border-red-500 text-red-500 rounded-md text-sm hover:bg-red-50"
                    (click)="removeTask(task)">
                    Remove
                </button>
            </td>
        </tr>
        }
    </tbody>
</table>

<!-- <div *ngIf="isEmptyTasks()"
    class="flex items-center gap-3 mt-4 p-4 border border-blue-300 bg-blue-50 text-blue-700 rounded-md shadow-sm">
    <span class="material-icons text-xl">mood</span>
    <span>There are no tasks yet. Please add new tasks using the form
        above.</span>
</div> -->
